// banner
.banner {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true');
  height: 480px;
  @include banner;
}
//導航選單
.navbar-nav {
  //手機時 隱藏超出版面的選單
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  .nav-item {
      margin-right: 18px;            
      .nav-link  {            
          color: $dark;
          // width: 65px;
          height: 24px;
          padding: 0 14px ;
          &:hover {
              border-bottom: 1px solid $secondary;
          }
      }
  }    
}
//熱門特展
@include media-breakpoint-up(md) {
  .exhibition {
    .container {
      background-color: $white !important;
    }
  }
}
.exhibition{
  .card {        
      .card-img-top {
          height: 345px;
      }
  }
}
@include media-breakpoint-up(md) {
  .exhibition{
      .card {            
          .card-img-top {
              height: 350px;
          }
          .card-body {
              margin-left: -14px;
              .card-text {
                  height: 120px;
              }
          }
      }        
  }
}
//直播回顧new
.live-stream {
  .card-bg { //最底層圖片背景
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true');
  }
  .card { //紫色透明背景
    .card-body {
      background: rgba($color: #190014CC, $alpha: 0.8);
      .btn {
        padding: 10px 38px;
      }      
    }
  }
}
//猜你也喜歡...
.swiper-slide {
  .card {
    .card-img-top {
      height: 345px;
    }
  }
}