//footer
.footer {
    .banner { //banner 圖片
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true);
        height: 400px;
        @include banner;
    }
    .subscription {//placeholder="輸入您的電子信箱" 顏色
        input {            
            &::placeholder {
                color: $dark;    
            }
        }
        button {
            margin-left: -3px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0; 
        }
        }
}

