//font-size
@for $i from 1 through 25 {
  .font-size-#{$i} {
    font-size: ( $i * 0.25rem );
  }
}

//font-weight
.fw-medium {
  font-weight: 500;
}


//width
@for $i from 1 through 400 {
  .width-#{$i} {
    width: #{$i}px;
  }
}

// width%
@each $key, $value in $width {
  .w-#{$key} {
    width: $value;
  }
} 

.nav {
  a{
    padding: 0;
  }
}

//title
.h3 {
  font-size: 32px;
  font-weight: bold;
}